  body{
    background: #ffffff;
    text-shadow: 4px 4px 4px rgb(255, 255, 255, 0.25);
    font-family: 'Open Sans', sans-serif;
  }

  .paddHeist{
      padding-left: 0;
  }
.imgHeist{
    width: 100%;
    height: 100%;
}
.image-container{
    max-height: 600px;
    margin-left: -15px;

}
.form-header{
    margin-top: 10px;
}
.form-header h1{
    font-weight: 100;
}
.form-header p{
    font-size: 16px;
}

.form-content{
    text-align: center;
    padding: 50px;
    margin-top: -20px;
}
.line{
    display: flex;
}
.left,.right{
    width: 40%;
}

.buttonOption{
    margin-top: 10px;
    border: 1px solid #5550AA;
    box-sizing: border-box;
    border-radius: 10px;
    color: #000000;
    text-decoration: underline;
}
.buttonOption:hover{
    background-color:#5550AA;
}

.loginHeist{
    border-bottom: 1px solid #5550AA;
    color:#5550AA;
}
.form-control{
    background: none;
    border-bottom: 3px solid #5550AA;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    margin: 10px 0;
    width: 100%;
    font-size: 14px;
}
.form-control:focus,.form-control:active{
    outline: none;
    background: #fff;
}
.btn{
    font-size: 15px;
}
@media(max-width: 900px){
    .image-container{
        display: none;
    }
    .btn{
        font-size: 16px;
    }
    .contain{
        background: url('https://res.cloudinary.com/benjee/image/upload/v1568676463/Group_1_hyi0jp.png');
        background-repeat: no-repeat;
        background-position-y: -100px;
    }
}
@media(max-width: 720px){
    .image-container{
        display: none;
    }
    .btn{
        font-size: 16px;
    }
    .contain{
        background: url('https://res.cloudinary.com/benjee/image/upload/v1568676463/Group_1_hyi0jp.png');
        background-repeat: no-repeat;
        background-position-y: -100px;
    }
    h1{
        font-size: 30px;
    }
    p{
        font-size: 18px;
    }
    .btn{
        font-size: 14px;
    }
}